
body { 
    margin: 0;
    background-color: #e7e7e7;

   
  }
  
  
 
  #navbar {
    overflow: hidden;
    background-color: #202020;
    -webkit-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
    -moz-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
    box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
  }
  
  #navbar a {
    float: left;
    display: block;
    text-align: center;
    padding: 10px 12px;
    text-decoration: none;
    font-size: 18px;
    font-weight: bolder;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  
  
  .btn-group{

    width: 150%;
    height: 150px;

  }
  
  .sticky {
    top: 0;
    width: 100%;
    z-index: 9999;
  }
  
  .sticky + .content {
    padding-top: 60px;
  }
  
  
  .logo-header{
  
    margin-left: 60px;
    font-size: 60px;
  
  
  }
  
  .logo {
  
    margin-top: 6.4px;
    margin-left: -5px;
  
  
  
  }

.title{
  margin-left: 150px;
  margin-top: 90px;
  font-weight: bold;
  font-size: 44px;
  color: #303030;

  
}




.text{
  margin-left: 150px;
  font-size: 20px;
  color: #2b2b2b;
  
}

.OrangeTitle 
{ 
    color:  #ffa500;
} 

.float-container {
}

.float-child {
  width: 10%;
  float: left;
  padding: 20px;
}  


.btn-group{

margin-left: 690px;


}



.margin-1{
  margin-top: 120px;
}

.margin-2{
  margin-top: -110px;
}

.margin-3{
  margin-top: -110px;
}

.dropdown-menu{

  margin-left: 100px;
  background-color: #202020;
}